body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  #game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #6d6d6d;
    background: #fff;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .personaje {
    position: absolute;
    width: 40px;
    height: 40px;
    /*background-image: url('img/comecocod.png');*/
    background-size: cover;
    transition: transform 0.2s ease-in-out;
    
  }
  .personaje img {
    width: 40px;
    height: 40px;
}
  
  .moneda {
    position: absolute;
    width: 32px;
    height: 33px;
    background-image: url('img/fantasma1.webp');
  }