body {
    margin: 0;
    font-family: Arial, sans-serif;
    color:white;
    overflow: hidden;
    background: url('img/fondo2.png') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  #game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #6d6d6d;
    /* background: #fff; */
    background: url('img/fondo1.png') no-repeat center center;
    overflow: hidden;
    border-radius: 30px;
  }
  #puntos{
    color:black;
    text-align: center;
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;


  }
  
  .personaje {
    position: absolute;
    width: 40px;
    height: 40px;
    /*background-image: url('img/comecocod.png');*/
    background-size: cover;
    transition: transform 0.2s ease-in-out;
    
  }
  .personaje img {
    width: 40px;
    height: 40px;
}
  
  .moneda {
    position: absolute;
    width: 43px;
    height: 55px;
    background-image: url('img/fantasma1.png');
  }